.my-intro{
  text-align: center;
  margin-top: 30px;
  padding-left: 30px;
}

.skills-intro{
  text-align: center;
  margin-top: 30px;
}

.projects-intro{
  text-align: center;
  margin-top: 30px;
}

.experience-intro{
  text-align: center;
  margin-top: 30px;
}

.my-photo{
  border-radius: 30px;
  border-color: black;
}

.about-me{
  text-align: center;
  text-indent: 50px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: large;
  padding-top: 20px;
}

.button-github{
  padding-left: 50px;
}

.skill-photo{
  margin-left: 530px;
  border-radius: 30px;
  border-color: black;
  margin-top: 30px;
}

.photo{
  margin-left: 565px;
  border-radius: 30px;
  border-color: black;
}

.fords-photo{
  margin-left: 565px;
  border-radius: 30px;
  border-color: black;
  margin-top: 30px;
}

.pollo-photo{
  margin-left: 565px;
  border-radius: 30px;
  border-color: black;
  margin-top: 30px;
}